.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background: var(--card-gradient);
  border-radius: 16px;
  overflow: hidden;
}

.cards .cards-show-more {
  display: block;
  margin: 24px auto 0;
  text-align: center;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body p{
  color: var(--light-color)
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
